# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
tipos-variaveis/.vscode/settings.json
operadores/.vscode/settings.json
metodos/.vscode/settings.json
escopo/.vscode/settings.json
.vscode/settings.json
anatomia-de-classes/.vscode/settings.json
documentacao/.vscode/settings.json
terminal-argumentos/.vscode/settings.json
sintaxe/anatomia-de-classes/.vscode/settings.json
sintaxe/documentacao/.vscode/settings.json
sintaxe/escopo/.vscode/settings.json
sintaxe/metodos/.vscode/settings.json
sintaxe/operadores/.vscode/settings.json
sintaxe/terminal-argumentos/.vscode/launch.json
sintaxe/terminal-argumentos/.vscode/settings.json
sintaxe/tipos-variaveis/.vscode/settings.json
controle-fluxo/condicionais/.vscode/settings.json
controle-fluxo/Repeticao/.vscode/settings.json
controle-fluxo/excecao/.vscode/settings.json
poo/classes/.vscode/settings.json
